<h3 class="voice-brand">Populating a Model with Services</h3>
<p>
This data comes from the ExampleService: <b>{{Model.data.firstName}} {{Model.data.lastName}}</b>
</p>
<p>
This selected state <b>{{Model.selectedState.stateDescription}}</b> comes from a dropdown displaying options from a more-complex "USAStates" service: <select ng-model="Model.selectedState" ng-options="state.stateId for state in Model.states" ></select>
</p>

<hr>
<h3 class="voice-brand">Calling a Service with Actions</h3>
<p>
The next Fibonacci Number is <span class="btn btn-primary btn-sm" ng-click="Actions.getNextFibonacciNumberFromService()">{{Model.fibonacciNumber}}</span>
</p>

<hr>
<h3 class="voice-brand">Building a Service</h3>
<p>
	To build a service that returns client-side data, create a generic JavaScript function that returns an object:
<pre>
var FibonacciService = function( ){
	return {
		a: 1,
		b: 1,
		getNextFibonacciNumber: function(){
			var value = this.a + this.b;
			this.a = this.b; 
			this.b = value;
			return value;	
		}
	};
};
</pre>
</p>
<p>
	Then pass the service to an Actions, Modelbuilder, or Controller, where it will be available:
<pre>
var ServicesActions = function(Modelbuilder, FibonacciService){
	return {
		getNextFibonacciNumberFromService: function(){
			Modelbuilder( {fibonacciNumber: FibonacciService.getNextFibonacciNumber()} );
		}
	};
};
</pre>
</p>


<hr>
<h3 class="voice-brand">Building an Asynchronous Service</h3>
<p>
	To build a service that returns server-side data, follow the example of the 'FetchJSONService', provided with this sample application. The caller must register a callback with the service, and then tell the service to begin the asychronous fetch:

<pre>
// In controller or actions...
FetchJSONService.listenForData( Context.Actions.FetchJSONServiceDataAvailable );
FetchJSONService.fetchData();
</pre>
<pre>
// In actions...

FetchJSONServiceDataAvailable: function(){
	
  // Retrieve most-recent data from service
  var data = FetchJSONService.getData();

  // Add the data to our Model, which is then exposed to the template and rendered
  Modelbuilder( {jsonData: data} );
}
</pre>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="object in Model.jsonData">
				<td>{{object.id}}</td>
				<td>{{object.name}}</td>
			</tr>
		</tbody>
	</table>
</p>