<h3 class="voice-brand">Parameter Passing</h3>

<p>
	<b>Notice the URL for this page!</b> This page is not part of Examples, but its own top-level route.
</p>
<p>
	URL Parameter-passing can be used to select a particular item and drill down into its details.
</p>
<p>
	To pass paramters to a view, you must add "parameters": true to the view in your config.json file:
<pre>
"ParameterPassing": {
	"url": "ParameterPassing",
	"template": "ParameterPassingExampleTemplate",
	"model": "ParameterPassingModel",
	"modelbuilder": "ParameterPassingModelbuilder",
	"actions": "ParameterPassingActions",
	"controller": "ParameterPassingController",
	"parameters": [
		"parameterExampleId",
		"parameterExampleId2"
	]
}
</pre>
</p>

<p>
	To demonstrate URL parameter-passing, add text to the end of the URL, or click this link:<br>
	<a href="#/ParameterPassing/parameter1/parameter2">#/ParameterPassing/parameter1/parameter2</a>
</p>
<p>
	To demonstrate URL parameter-passing in both a parent and subroute, click this link:<br>
	<a href="#/ParameterPassing/parameter1/parameter2/ParameterPassingSubroute/parameter3/parameter4">#/ParameterPassing/parameter1/parameter2/ParameterPassingSubroute/parameter3/parameter4</a>
</p>
<br><br>

<div ng-if="Model.parameters">
	<hr>
	<h3 class="voice-brand">Demo</h3>
	<p>
		This page was called with the following URL parameters:
		<div ng-repeat="(key, value) in Model.parameters">
			{{key}}: {{value}}
		</div>
	</p>
</div>


<hr>
<div ui-view>Subview goes here if provided</div>
